node_modules/

.env 

GIT commands
---------
git init                                -- Initialise git
git add .                               -- Add repository to GIT
git commit -m "insert comment here"     -- Commit code 
git status                              -- Status of brach etc

